<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:util="http://www.springframework.org/schema/util" 
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
			http://www.springframework.org/schema/tx
   			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 	
 	<bean id="foo" class="com.uestc.test.Foo"/>
    <bean id="bar" class="com.uestc.test.Bar"/>

    <bean id="byName" autowire="byName" class="com.uestc.test.Target"/>
    <bean id="byType" autowire="byType" class="com.uestc.test.Target"/>
    <bean id="constructor" autowire="constructor" class="com.uestc.test.Target"/>
    <bean id="autodetect" autowire="autodetect" class="com.uestc.test.Target"/>
	
</beans>