<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 	
 	<bean id="beanPostPrcessorImpl" class="com.uestc.test.BeanPostPrcessorImpl"/>
 	<bean id="people" class="com.uestc.test.People"/>
</beans>